$headerText: #4E4E4E;
$regularText: #7C7C7C;
$hoveredText: #57A4A4;

$RSS: #FF9550;
$facebook: #2D88FF;
$twitter: #1DA1F2;
$dribbble: #EA4C89;
$pinterest: #E7001E;

$gray: #F7F7F7;
$darkGray: #BFBFBF;
$white: #FFF;
$black: #000;
